.center-block {
    margin: auto;
}

.card {
    padding: 0;
    margin: 20px;
}

.bloc-form {
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.white-color {
    color: white;
}

nav {
    background-color: #95a1ae;
}

.dark-blue-color {
    color: #95a1ae;
    font-weight: 550;
}

a:hover {
    color: #BAC9D9;
}

.header-color {
    background-color: #BAC9D9;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

button {
    border: none;
    background-color: #BAC9D9;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 25px 100px;
    border-radius: 2px;
}

button:hover {
    color: #95a1ae;
}

body {
    background-color: #EBE9E7;
}


.right-part{
	margin-left: auto;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}

.message {
    color: red;
}