.center-block {
    margin: auto;
}

.title {
    margin-top : 30px;
    margin-bottom: 30px;
}

.card {
    padding: 0;
    margin: 20px;
}

.bloc-form {
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.white-color {
    color: white;
}

#footer {
    background-color: #95a1ae;
    height: 25%;
    width: 100%;
    position: relative;
}

nav {
    background-color: #95a1ae;
    height: 10%;
}

.dark-blue-color {
    color: #95a1ae;
    font-weight: 550;
}

button {
    border: none;
    background-color: #BAC9D9;
    color: white;
    border-radius: 3px;
}

.normal-button {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 50px;
}

.uggly-button {
    font-size: 18px;
    font-weight: bold;
    padding: 25px 100px;
}

button:hover {
    color: #95a1ae;
}
/*--------- SearchBar --------*/

.margin-left-10 {
    margin-left: 10px;
}
.margin-right-10 {
    margin-right: 10px;
}

.border-radius {
    border-radius: 3px;
}

/*---------- Général ------------*/

body {
    background-color: #EBE9E7;
}

a:hover {
    color: #BAC9D9;
}

.message {
    color: red;
}

button {
    border: none;
    background-color: #BAC9D9;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    color: #95a1ae;
}
/*--------- NavBar ----------*/

.header-color {
    background-color: #BAC9D9;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


/*--------- Page d'accueil -----------*/
.font-size {
    font-size: 13px;
}


/*--------- Footer --------------*/
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}

/* -------------- Marjo ---------------- */
.heading h3 {
	margin : 50px;
}

.create-button {

	margin : 50px;
}

.buttonProfile {
	padding : 10px;
	padding-right : 30px;
	padding-left : 30px;
	border-radius: 5px;
}

.lienProfile {
	color : white;
	text-decoration: none;
}

#creer{
	margin-bottom : 10px;
}

.updateForm {
	margin-bottom : 40px;
}

.updateProfile {
	margin-bottom : 10px;
}

.deleteButton{
	margin-top : 30px;
}

#buttonReturnProfile {
	margin-top : 40px;
}

.buttonEnchere {
	margin-top : 20px;
}

#returnEnchere {
	margin-top: 20px;
	margin-bottom : 40px;
}

#modifVente{
	margin-top: 30px;
}
