.center-block {
    margin: auto;
}

.title {
    margin-top : 30px;
    margin-bottom: 30px;
}

.card {
    padding: 0;
    margin: 20px;
}

.bloc-form {
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.white-color {
    color: white;
}

footer {
    background-color: #95a1ae;
    height: 10%;
}

nav {
    background-color: #95a1ae;
    height: 10%;
}

.dark-blue-color {
    color: #95a1ae;
    font-weight: 550;
}

a:hover {
    color: #BAC9D9;
}





<<<<<<< HEAD
=======
button {
    border: none;
    background-color: #BAC9D9;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 25px 100px;
    border-radius: 2px;
}

button:hover {
    color: #95a1ae;
}
>>>>>>> refs/heads/master

body {
    background-color: #EBE9E7;
}


.message {
    color: red;
}
/*--------- NavBar ----------*/

.header-color {
    background-color: #BAC9D9;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


/*--------- Page d'accueil -----------*/
.font-size {
    font-size: 13px;
}


/*--------- Footer --------------*/
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}

button {
    border: none;
    background-color: #BAC9D9;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    color: #95a1ae;
}


/* -------------- Marjo ---------------- */

a:hover {
    color: #95a1ae;
}


.heading h3 {
	margin : 50px;
}

.create-button {

	margin : 50px;
}

.buttonProfile {
	padding : 10px;
	padding-right : 30px;
	padding-left : 30px;
	border-radius: 5px;
}

.lienProfile {
	color : white;
	text-decoration: none;
}

#creer{
	margin-bottom : 10px;
}

.updateForm {
	margin-bottom : 30px;
}

.updateProfile {
	margin-bottom : 10px;
}

.deleteButton{
	margin-top : 30px;
}
